@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");

$border-color-active: #d0d0d0;
$border-color-inactive: #bcd4f3;
$background-color-active: #bcd4f3;
$background-color-inactive: #c9d3e0;
$color-white: white;
